*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
html,body {
    height: 100%;
    overflow-x:hidden ;
    position: relative;
}
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x:hidden ;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: unset;
}
ul{
    list-style-type: none;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s, transform 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.header-wrap-menu{
    flex:1 1 auto;
}
.navbar{
    text-align: left;
    display: block;
}
ul.menu >li {
    position: relative;
    display: inline-block;
    margin: 0 12px;
}
ul.menu>li.font-effect-fire>a {
    border-bottom: #e50076 !important;
    /* text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40; */
} 
ul.menu>li.font-effect-fire .sub-menu-list {
    /* text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40; */
    background-color: rgb(252, 221, 221);
    color: white;
} 
ul.menu>li.font-effect-fire .sub-menu-list a {
    /* text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40; */
    color: #e50076;
    font-weight: 500;
} 
.header-wrap-menu .menu {
    margin:0;
}
.header-wrap-menu .menu > li a,
.header-wrap-menu .menu > li a:focus {
    opacity: 1;
}
.header-wrap-menu .sub-menu-list li.sub-menu{
    position: relative;
}
.header-wrap-menu .menu>li >a {
    opacity: 0.85;
    z-index: 2;
    display: block;
    padding: 15px 4px;
    width: 100%;
    letter-spacing: 0.75px;
    font-weight: 600;
    font-size: 16px;

    -webkit-transition: none;
    transition: none;
}
.header-wrap-menu .menu li.sub-menu:hover > .sub-menu-list{
    pointer-events: auto;
    visibility: visible;
    top: 100%;
    opacity: 1;
}
.header-wrap-menu .menu li.sub-menu .sub-menu-list ul.sub-menu-list {
    left: 100%;
    top: 0;
}
.header-wrap-menu .sub-menu-list li a {
    padding: 5px 22px;
    text-align: left;
    display: block;
    font-size: 15px;
    color: #252a2b;
    opacity: 0.85;
}
.header-wrap-menu .sub-menu-list li.sub-menu{
    padding-right: 30px;
}

li.sub-menu .sub-menu-list {
    background: #fff;
    min-width: 230px;
    max-width: 180%;
    padding: 12px 0;
    position: absolute;
    z-index: 99;
    top: 150%;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-wrap-menu .sub-menu-list li {
    position: relative;
}
.header-wrap-menu .menu>.sub-menu>a>i{
    transition: all 0.3s ease;
}
.header-wrap-menu .menu>.sub-menu:hover>a>i {
    transform: rotate(-180deg);
}
.header-wrap-menu .sub-menu-list i {
    width: 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) ;
}

.number-control {
    display: flex;
    align-items: center;
}

.number-left::before,
.number-right::after {
    content: attr(data-content);
    background-color: #fffafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border: 1px solid #a4aaaf;
    width: 25px;
    color: black;
    transition: background-color 0.3s;
    cursor: pointer;
}

.number-left::before {
    content: "-";
}

.number-right::after {
    content: "+";
}

.number-quantity {
    text-align: center;
    padding: 0.25rem;
    border: 0;
    width: 70px;
    -moz-appearance: textfield;
    border-top: 1px solid #a4aaaf;
    border-bottom: 1px solid #a4aaaf;
}

.number-left:hover::before,
.number-right:hover::after {
    background-color: #666666;
    color: #fff;
}

.button-swal {
    display: inline-block;
    padding: 7px 25px;
    color: white !important;
    border: none;
    border-radius: 5px;
    background-color:#198754;
}
.v-slide-group__content {
    flex: 1 0 !important;
    gap: 2px;
}
.v-slide-group__next, .v-slide-group__prev{
    width: 0;
    color: #252a2b;
}